.DS_Store
build/*
LatestChatty2.xcodeproj/*.pbxuser
LatestChatty2.xcodeproj/*.perspectivev3
ssl_certificates/*

LatestChatty2.xcodeproj/*.xcworkspace
LatestChatty2.xcodeproj/xcuserdata/
LatestChatty2.xcodeproj/project.xcworkspace/xcuserdata/