<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>956181470042-gmhcpmf0f75pgtgcgo0e2au1fuoeofhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.956181470042-gmhcpmf0f75pgtgcgo0e2au1fuoeofhg</string>
	<key>API_KEY</key>
	<string>AIzaSyDzmub0y-HuIukN7bQajdExGI4CY_6wg8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>956181470042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beautifulpixel.iphone.LatestChatty</string>
	<key>PROJECT_ID</key>
	<string>latest-chatty</string>
	<key>STORAGE_BUCKET</key>
	<string>latest-chatty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956181470042:ios:ad5b65a8ec998f7f</string>
	<key>DATABASE_URL</key>
	<string>https://latest-chatty.firebaseio.com</string>
</dict>
</plist>