<!DOCTYPE html>
<html>
  <head>
    <title>Latest Chatty Post</title>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <meta content='initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport'>
    <style>
      <%= stylesheet %>
    </style>
  </head>
  <body id="message">
    <div class="wrapper">
      <div class="date"><%= date %></div>
      <div class="author"><a href="http://www.shacknews.com/profile/<%= author %>"><%= author %></a></div>
      <div id="body" class="body"><%= body %></div>
    </div>
  </body>
</html>