<!DOCTYPE html>
<html>
  <head>
    <title>Latest Chatty Post</title>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <meta content='initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport'>
    <style>
      <%= stylesheet %>
    </style>
  </head>
  <body class="review">
    <div class="expiration background" style="background:<%= expirationColor %>;"></div>
    <div class="expiration" style="background:<%= expirationColor %>; width:<%= expirationSize %>;"></div>
    <div class="wrapper">
      <div>
        <div class="date"><%= date %></div>
        <div class="author"><%= author %></div>
      </div>
      <div class="body"><%= body %></div>
    </div>
  </body>
</html>