<html>
  <head>
    <title>Shacknews Story</title>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <meta content='initial-scale=1.0; maximum-scale=1.0; user-scalable=0;' name='viewport'>
    <style>
      <%= stylesheet %>
    </style>
  </head>
  <body id="story">
      <div class="wrapper">
          <h1 class="story-title">
            <%= storyTitle %>
          </h1>
          
          <div class="date">
              <a href="http://shacknews.com/onearticle.x/<%= storyId %>">
                  <%= date %>
              </a>
          </div>
          
          <div class="body story-content">
            <%= content %>
          </div>
    </div>
  </body>
</html>